# Matikan eksekusi script PHP dan eksekutabel lain di direktori upload arsip
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phar|pl|py|cgi|sh|bash)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Deny,Allow
        Deny from all
    </IfModule>
</FilesMatch>

# Matikan directory browsing & CGI
Options -Indexes -ExecCGI
